<!-- <div class="footer">
  <div class="footerSection backToTop">
    <div (click)="scrollToTop()">Back to Top</div>
  </div>

  <div class="footerContainer">
    <div class="footerSection">
      <div class="footerLogo">
        <img src="./../../../assets/BuyBlissLOGO.png" alt="Your Logo" />
      </div>
      <div class="footerContact">
        <p>Your Contact Info</p>
        <p>Email: chirag.agarwal@ideas.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
    </div>
    <div class="footerSection">
      <div class="footerLogo">
        <img src="./../../../assets/BuyBlissLOGO.png" alt="Company Logo" />
      </div>
      <div class="footerContact">
        <p>Company Contact Info</p>
        <p>Email: company-email@example.com</p>
        <p>Phone: (098) 765-4321</p>
      </div>
    </div>
  </div>
</div> -->
