<div class="productDetailsContainer">
  <div class="productDetails">
    <div *ngIf="product.productStock === 0" class="outOfStockMessage">
      Out of Stock
    </div>
    <div class="productImage">
      <img [src]="product.productImageURL" alt="product.name" />
    </div>
    <div class="productInfo">
      <div class="productName">
        <h3>{{ product.productName }}</h3>
      </div>
      <div class="productCategory">
        <p>{{ product.category.categoryName }}</p>
      </div>
      <div class="orderCount">
        <p>{{ product.orderCount }} bought in last month</p>
      </div>

      <hr />
      <div class="productPriceContainer">
        <div class="price" *ngIf="product.productStock > 0">
          <div>MRP</div>
          <div>₹ {{ product.productPrice }}</div>
        </div>
        <div class="price" *ngIf="product.productStock == 0">Out Of Stock</div>

        <div class="addToCartContainer" *ngIf="!isProductInCart(product.productId) || checkIfProductInStockIfNoThenDisable; else quantityButtons">
          <button
            (click)="addToCart(product)"
            class="btn btn-outline-primary addToCartButton"
            [disabled]="product.productStock === 0"
          >
            <i class="bi bi-plus" aria-hidden="true"></i>
          </button>
        </div>
        <ng-template #quantityButtons>
          <div class="quantityControl quantityButtons">
            <button
              [disabled]="disableIncreaseButton(product)"
              class="btn btn-outline-success quantityBtn increase"
              (click)="increaseQuantity(product)"
            >
              <i class="bi bi-plus"></i>
            </button>
            <span class="quantityDisplay">{{
              getProductQuantity(product.productId)
            }}</span>
    
            <button
              class="btn btn-outline-danger quantityBtn decrease"
              (click)="decreaseQuantity(product)"
            >
              <i class="bi bi-dash"></i>
            </button>
          </div>
        </ng-template>
      </div>

      <app-rating [product]="product"></app-rating>
    </div>
  </div>
  <app-detailed-review [product]="product" (reviewAdded)="onReviewChange($event)"></app-detailed-review>
</div>

