<div class="wrapper" [class.isLogin]="isLogin" [class.isSignup]="!isLogin">
    <div class="title-text">
      <div class="title login" [ngClass]="{'active': isLogin}">Login Form</div>
      <div class="title signup" [ngClass]="{'active': !isLogin}">Signup Form</div>
    </div>
  
    <div class="form-container">
      <div class="slide-controls">
        <label class="slide login" (click)="toggleForm(true)">Login</label>
        <label class="slide signup" (click)="toggleForm(false)">Signup</label>
        <div class="slider-tab"></div>
      </div>
  
      <div class="form-inner">
        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" *ngIf="isLogin">
          <div class="field">
            <input type="text" formControlName="email" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" formControlName="password" placeholder="Password" required>
          </div>
          <div class="pass-link"><a href="#">Forgot password?</a></div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <button type="submit">Login</button>
          </div>
          <div class="signup-link">Not a member? <a (click)="toggleForm(false)">Signup now</a></div>
        </form>
  
        <!-- Signup Form -->
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()" *ngIf="!isLogin">
          <div class="field">
            <input type="text" formControlName="email" placeholder="Email Address" required>
          </div>
          <div class="field">
            <input type="password" formControlName="password" placeholder="Password" required>
          </div>
          <div class="field">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" required>
          </div>
          <div class="field btn">
            <div class="btn-layer"></div>
            <button type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  