.order-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  width: 80vw;
}

.orderContainer{
  display: flex;
}

.orderFilter{
  margin: 20px 20px;
  width: 20vw;
  padding: 20px;
  border: 1px solid #ccc;
  height: fit-content;
  position:fixed;
}
.order-list-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 30px;
  text-align: center;
}

.order-list-empty p {
  font-size: 1.5em; /* Adjust the font size as needed */
  color: #555; /* Adjust the color as needed */
}