<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div
    #toast
    class="toast"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <div
        [ngClass]="{
          success: status === 'success',
          error: status === 'error',
          warning: status === 'warning',
          info: status === 'info'
        }"
      ></div>
      <strong class="me-auto">{{ title }}</strong>
      <small>{{ time }}</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>
</div>
